<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title>
        <%- title %>
    </title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css"
        href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css"
        href="https://ashaviglobal.com/agreement/template/dist/css/jquery.signature.css">
    <style type="text/css">
		.float_left {
			float: left;
		}
		.padding_right{
			padding-right:10px;
		}
        .disableClick {
            pointer-events: none;
        }

        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }
		.float_left{
			float:left;
		}
		.form-group{
			width:100%
		}
		.col-md-3{
		  max-width:11%
		}
		.l_10 {
			margin-left: 10px;
		}
        .modal .modal-body {
            overflow-y: auto;
        }
        .col-md-12 {
			width: 100%;
			float: left;
		}
		.col-md-6 {
			width: 50%;
			float: left;
		}
		.col-md-10 {
			width: 80%;
			float: left;
		}
		.col-md-2 {
			width: 20%;
			float: left;
			margin-bottom:10px;
		}
		.col-md-9 {
			width: 75%;
			float: left;
		}
		.col-md-3 {
			width: 25%;
			float: left;
		}
          /* Signature */
          .kbw-signature {
            background-color: #fff;
            /* width: 100%; */
            /* height: 250px; */
        }

        /* .signature canvas {
            width: 100% !important;
            height: auto;
        } */
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <%- include('includes/header.ejs') %>
            <%- include('includes/sidebarCompany.ejs') %>

                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">
                                    <%- title %>
                                </h4>
                                <div class="ml-auto text-right">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%- title %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" va id="company_id" value="<%- company_id %>" name="company_id">
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->


                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>

                                    <!-- <div class="col-md-6">
                                        Select Company
                                        <select class="form-select selectboxcss" name="exptype" id="exptype">
                                            <option value="">Select Company</option>
                                            <% getCompanydata.forEach(function(row){ %>
                                                <option value="<%= row.id %>">
                                                    <%= row.name %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div> -->

                                </div>
                                <!-- <button class="btn btn-success" id="create_trailer_button"> Add Trailer <span class="glyphicon glyphicon-edit"></span>   <i style="font-size: 15px;" class="fas fa-plus"></i></button> -->
                                <h5 align="center" class="card-title">
                                    <!-- <%- title %> -->
                                </h5>
                                <div class="table-responsive">
                                    <table id="updatedrivermanualDetails" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">Id</th>
                                                <th style="width:25%">First Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                        </div>


                        <!-- view modal -->



                        <div id="viewmodal" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                            data-keyboard="false">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">Delete List</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center" class="card-title">VIEW U. S. DEPARTMENT OF TRANSPORTATION MOTOR CARRIER SAFETY PROGRAM ANNUAL REVIEW OF DRIVING RECORD</h3>
                                        <h4 align="center" class="card-title">

                                        </h4>
                                        <div class="card-body">

                                            <div class="row p-b-30">
                                                <div class="col-12">

                                                     <!-- <form class="form-horizontal" id="updateQuestions" style="background: #27a9e324;border-radius: 35px;"> -->
														<div class="card-body" id="updateQuestions_details_view">
                                                      
															<br>
	
															<input type="hidden" class="form-control" readonly
																name="driverId" value="" id="vdriverId">
															<input type="hidden" class="form-control" readonly
																name="company_id" value="" id="vcompany_id">
															<input type="hidden" class="form-control" readonly
																name="actionData" value="" id="vactionData">
															<div class="row">
																<div class="col-md-12">
																	<form class="form-horizontal" id="updateQuestions"
																		style="background: #27a9e324;border-radius: 35px;">
																		<div class="card-body" id="updateQuestions_details">
																			
																			<br>

																			<input type="hidden" class="form-control" name="driverId"
																				value="" id="vdriverId">
																			<input type="hidden" class="form-control" name="company_id"
																				value="" id="vcompany_id">
																			
																			<input type="hidden" class="form-control" name="actionData"
																				value="" id="actionData">
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-md-12">
                                                                                            <div class="col-md-6">
                                                                                                <input type="text" value="" readonly id="vdriver_name" readonly>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <input type="text" value="" readonly id="vsin">
                                                                                            </div>
                                                                                            <div class="col-md-6">Name</div>
                                                                                            <div class="col-md-6">Social Security Number</div>
                                                                                        </div>
                                                                                        <p align="justify">This day I reviewed the driving record of the above named driver in accordance with CFR 391.25 of the Motor
                                                                                            Carrier Safety Regulations. I considered any evidence that the driver has violated applicable provisions of the
                                                                                            MCS Regulations and the Hazardous Materials Regulations. I considered the driver’s accident record and any
                                                                                            evidence that he/she has violated laws governing the operation of motor vehicles, and gave great weight to
                                                                                            violations, such as speeding, reckless driving and operation while under the influence of alcohol or drugs, that
                                                                                            indicate that the driver has exhibited a disregard for the safety of the public. Having done the above, I find that</p>
                                                                                        <p><input type="radio" id="vdriver_qualify1" name="vdriver_qualify" value="0">The driver meets the minimum requirements for safe driving, or</p>
                                                                                        <p><input type="radio" id="vdriver_qualify2" name="vdriver_qualify" value="1">The driver is disqualified to drive a motor vehicle pursuant to CFR 391.15</p>
                                                                                        <div class="col-md-12">
                                                                                            <div class="col-md-6"><input type="text" readonly class="mydatepicker" placeholder="mm/dd/yyyy" id="vdate_review"></div>
                                                                                            <div class="col-md-6"><input type="text" value="" id="vmotor_name"></div>
                                                                                            <div class="col-md-6">Date of Review</div>
                                                                                            <div class="col-md-6">Name of Motor Carrier</div>
                                                                                            <div class="col-md-12"></div>
                                                                                            <div class="col-md-6"></div>
                                                                                            <div class="col-md-6">
                                        
                                                                                                <div id="vsignatureDiv" >
                                                                                                   
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6"></div>
                                                                                            <div class="col-md-6">Reviewed by: Signature and Title</div>
                                                                                        </div>
                                                                                    </div>
                                        
                                                                                </div>

																		</div>
																</div>

																</form>
																</div>
	
															</div>
	
														</div>
	
													</div>
	
													<!-- </form> -->



                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                        <!-- edit modal -->

                        <!-- edit modal -->


                        <div id="editmodal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                        data-keyboard="false">
                        <div class="modal-dialog">
                       
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <!-- <h4 class="modal-title">Delete List</h4> -->
                                </div>
                                <div class="modal-body">
                                    <h3 align="center" class="card-title">EDIT U. S. DEPARTMENT OF TRANSPORTATION MOTOR CARRIER SAFETY PROGRAM ANNUAL REVIEW OF DRIVING RECORD</h3>
                                    <div class="card-body">
                       
                                        <div class="row p-b-30">
                                            <div class="col-12">
                       
                                                <form class="form-horizontal" id="updateQuestions"
                                                    style="background: #27a9e324;border-radius: 35px;">
                                                    <div class="card-body" id="updateQuestions_details">
                                                        
                                                        <br>
                       
                                                        <input type="hidden" class="form-control" name="driverId"
                                                            value="" id="edriverId">
                                                        <input type="hidden" class="form-control" name="company_id"
                                                            value="" id="ecompany_id">
                                                       
                                                        <input type="hidden" class="form-control" name="actionData"
                                                            value="" id="actionData">
                                                            <div class="row">
                                                               <div class="row">
                                                                   <div class="col-md-12">
                                                                       <div class="col-md-12">
                                                                           <div class="col-md-6">
                                                                               <input type="text" value="" readonly id="edriver_name" readonly>
                                                                           </div>
                                                                           <div class="col-md-6">
                                                                               <input type="text" value="" readonly id="esin">
                                                                           </div>
                                                                           <div class="col-md-6">Name</div>
                                                                           <div class="col-md-6">Social Security Number</div>
                                                                       </div>
                                                                       <p align="justify">This day I reviewed the driving record of the above named driver in accordance with CFR 391.25 of the Motor
                                                                           Carrier Safety Regulations. I considered any evidence that the driver has violated applicable provisions of the
                                                                           MCS Regulations and the Hazardous Materials Regulations. I considered the driver’s accident record and any
                                                                           evidence that he/she has violated laws governing the operation of motor vehicles, and gave great weight to
                                                                           violations, such as speeding, reckless driving and operation while under the influence of alcohol or drugs, that
                                                                           indicate that the driver has exhibited a disregard for the safety of the public. Having done the above, I find that</p>
                                                                       <p><input type="radio" id="driver_qualify1" name="driver_qualify" value="0">The driver meets the minimum requirements for safe driving, or</p>
                                                                       <p><input type="radio" id="driver_qualify2" name="driver_qualify" value="1">The driver is disqualified to drive a motor vehicle pursuant to CFR 391.15</p>
                                                                       <div class="col-md-12">
                                                                           <div class="col-md-6"><input type="text" readonly class="mydatepicker" placeholder="mm/dd/yyyy" id="date_review"></div>
                                                                           <div class="col-md-6"><input type="text" value="" id="motor_name"></div>
                                                                           <div class="col-md-6">Date of Review</div>
                                                                           <div class="col-md-6">Name of Motor Carrier</div>
                                                                           <div class="col-md-12"></div>
                                                                           <div class="col-md-6"></div>
                                                                           <div class="col-md-6">
                                                                               <div id="signatureDiv1" style="height:160px !important;"></div>
                                                                               <div id="signatureDiv" style="height:160px !important;">
                                                                                   <div id="" class="signature"></div>
                                                                                   
                                                                                   <button id="clear" class="clear">Clear Signature</button>
                                                                               <textarea id="signpad" class="signpad" name="signature_image"
                                                                               style="display: none"></textarea><br><br><br>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-md-6"></div>
                                                                           <div class="col-md-6">Reviewed by: Signature and Title</div>
                                                                       </div>
                                                                   </div>
                       
                                                               </div>
                                                           </div>
                       
                                                    </div>
                                                    <div class="border-top">
                                                        <div style="text-align: center;" class="card-body">
                                                            <button type="button" id="submitBtn"
                                                                class="btn btn-primary">Update</button>
                                                        </div>
                                                    </div>
                                            </div>
                       
                                            </form>
                       
                       
                       
                                        </div>
                                    </div>
                                </div>
                       
                       
                            </div>
                        </div>
                       
                       </div>

                        <!-- edit modal -->

                        <!-- create trailer -->





                        <!-- ============================================================== -->
                        <!-- End Page wrapper  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Wrapper -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <%- include('includes/footer.ejs') %>
					<style>
					.checklist {
						text-transform: uppercase;
					}
					</style>
                    <link rel="stylesheet" type="text/css"
                    href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
                        <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
                        <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
                        <script src="assets/extra-libs/DataTables/datatables.min.js"></script>

                        <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script type="text/javascript"
                            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
                        <script type="text/javascript"
                            src="assets/extra-libs/signature/jquery.signature.min.js"></script>
                            <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script>

                            var signature = $('.signature').signature({ syncField: '.signpad', syncFormat: 'PNG' });

                            $('.signpad').draggable();
                            $('.clear').click(function (e) {
                                // alert('ddd');
                                e.preventDefault();
                                signature.signature('clear');
                                $(".signpad").val('');
                            });

                            var signature1 = $('.signature1').signature({ syncField: '.signpad1', syncFormat: 'PNG' });

                            $('.signpad1').draggable();
                            $('.clear').click(function (e) {
                                // alert('ddd');
                                e.preventDefault();
                                signature1.signature('clear');
                                $(".signpad1").val('');
                            });

                            /****************************************
                             *       Basic Table                   *
                             ****************************************/
                            // $('#zero_config').DataTable();

                            $(document).ready(function () {


                                let date = new Date();
                                var currentdate =
                                    ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
                                    ("00" + date.getDate()).slice(-2) + "/" +
                                    date.getFullYear();

                                    $(document).on('click', '#viewmodalid', function () {
                                    let id = $(this).attr('data-id');
									let cmpid = $('#company_id').val();
                                    $.ajax({
                                        url: "/edit_annualreview",
                                        type: "GET",
                                        data: { id: id,cmpid:cmpid },
                                        success: function (data) {
                                            console.log(data);
                                            if (data.status) {
												$("body #updateQuestions_details #vdriverId").val(data.driverId);
                                                $("body #updateQuestions_details #vcompany_id").val(data.company.id);
                                              
                                                $("#vdriver_name").val(data.driverName);

												$("#vsin").val(data.sin);
                                                $("#vmotor_name").val(data.company_name);
                                                $('#vsignatureDiv').html('');
                                                if(data.annualreview.id){
                                                    if(data.annualreview.drivermeet==1){
                                                        //$("#vdriver_qualify2:checked").val();
                                                        $('input:radio[name=vdriver_qualify]')[1].checked = true;
                                                    }
                                                    else{
                                                       // $("#vdriver_qualify1:checked").val();
                                                       $('input:radio[name=vdriver_qualify]')[0].checked = true;
                                                    }
                                                    
                                                    $('#date_review').val(data.annualreview.date_review);
                                                    if(data.annualreview.signature!=null && data.annualreview.signature!=''){
                                                        let signaturePath = 'uploads/attachment/annualreview/' + data.annualreview.signature;
                                                        $('#vsignatureDiv').html('<img src="'+signaturePath+'" alt="user" width="150" class="sign_img4" >');

                                                    }
                                                }

                                                $('body #viewmodal').modal('show');

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                // window.location = "/";
                                            }

                                        }
                                    });
                                });


                                $(document).on('click', '#editmodalid', function () {
                                    // alert('test')
                                    let id = $(this).attr('data-id');
                                    let cmpid = $('#company_id').val();
                                    // alert(id)
                                    $.ajax({
                                        url: "/edit_annualreview",
                                        type: "GET",
                                        data: { id: id,cmpid:cmpid },
                                        success: function (data) {
                                            if (data.status) {
												$("body #updateQuestions_details #edriverId").val(data.driverId);
                                                $("body #updateQuestions_details #ecompany_id").val(data.company.id);
                                              
                                                $("#edriver_name").val(data.driverName);
                                                $("body #updateQuestions_details #submitBtn").text('Update');
                                                $('body #updateQuestions_details #actionData').val('Update');

												$("#esin").val(data.sin);
                                                $("#motor_name").val(data.company_name);

                                                if(data.annualreview.id){
                                                    if(data.annualreview.drivermeet==1){
                                                        //$("#driver_qualify2:checked").val();
                                                        $('input:radio[name=driver_qualify]')[1].checked = true;
                                                    }
                                                    else{
                                                        //$("#driver_qualify1:checked").val();
                                                        $('input:radio[name=driver_qualify]')[0].checked = true;
                                                    }
                                                    $('#date_review').val(data.annualreview.date_review);
                                                    $('#signatureDiv').show();
                                                    $('#signatureDiv1').hide();
                                                    if(data.annualreview.signature!=null && data.annualreview.signature!=''){
                                                        let signaturePath = 'uploads/attachment/annualreview/' + data.annualreview.signature;
                                                        $('#signatureDiv').hide();
                                                        $('#signatureDiv1').show();
                                                        $('#signatureDiv1').html('<img src="'+signaturePath+'" alt="user" width="150" class="sign_img4" >');
                                                        $("#submitBtn").attr('disabled', true);
                                                        $("#submitBtn").hide();
                                                    }
                                                    else{
                                                        $("#submitBtn").attr('disabled', false);
                                                        $("#submitBtn").show();
                                                    }

                                                    //$("#submitBtn").attr('disabled', true);
                                                    //$("#submitBtn").hide();
                                                }
                                                else{
                                                    $('#signatureDiv').show();
                                                    $('#signatureDiv1').hide();
                                                }
												
												
                                               

                                                
                                                $('body #editmodal').modal('show');
												

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                 window.location = "/";
                                            }

                                        }
                                    });
                                });

                            });

							$(document).ready(function () {
                                $('.mydatepicker').datepicker();
								let cmpid = $('body #company_id').val();
								$('body #create_trailer #company_id').val(cmpid);
								$("#create_trailer_button").show()
								$("#updatedrivermanualDetails").dataTable().fnDestroy();
								let customer = $('#updatedrivermanualDetails').DataTable({
									processing: true,
									serverSide: true,
									order: [[0, 'ASC']],
									lengthMenu: [[10, 50, 100, 250, 500, 1000], [10, 50, 100, 250, 500, 1000]],
									pageLength: 10,
									searching: true,
									ajax: {
										url: "/company_get_annualReview",
										data: function (data) {
											data.cmpid = cmpid
											//data.search_key = $("#searchKey").val(),
											//data.search_val = $("#searchVal").val()
										},
										type: "GET",
									},
									columns: [
									{ "data": "slno" },
									{ "data": "driver_name" },
                                        { "data": "action" }
									],
									select: true
								});
							});



                            $("#submitBtn").click(function (event) {
                                event.preventDefault();

                                var values = {};
								var req_val = '';
                                $.each($('#updateQuestions').serializeArray(), function (i, field) {
									req_val = field.value;
									values[field.name] = req_val.toUpperCase();
                                });
                                values['driverid'] = $('#edriverId').val();
                                values['companyid'] = $('#ecompany_id').val();

                               
								var signpad = $('#signpad').val();
								var date_review = $('#date_review').val();
                                var driver_meets = $('input[name="driver_qualify"]:checked').val();
                                values['signature_image'] = signpad;
                                values['date_review'] = date_review;
                                values['drivermeet'] = driver_meets;

								if(signpad==''){
									Swal.fire({
										title: 'Error!',
										text: 'Please add signature',
										icon: 'error',
										confirmButtonText: 'Cool'
									});
									return false;
								}
								else if(date_review==''){
									Swal.fire({
										title: 'Error!',
										text: 'Please enter date review',
										icon: 'error',
										confirmButtonText: 'Cool'
									});
									return false;
								}
                                else if(driver_meets==''){
									Swal.fire({
										title: 'Error!',
										text: 'Please select driver qualify',
										icon: 'error',
										confirmButtonText: 'Cool'
									});
									return false;
								}
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to update this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, update it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#submitBtn").text('Please wait');
                                        $("#submitBtn").attr('disabled', true);
										 var form = $(this);
                                        $.ajax({
                                            url: "/updateannualReview",
                                            type: "POST",
											//data: form.serialize(),
                                            data: values,
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    });
                                                    setTimeout(function () {
                                                       window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });


$(function () {
	  $(".checklist").bind("keyup", function (e) {
		$(".checklist").val(this.value);
	  });
	});


                        </script>
                        <style type="text/css">
                            .gap {
                                text-align: center;
                                background-color: #e2181870;
                            }
                            .thClass {
                                font-size: 18px;
                                font-weight: bold;
                            }
                            .disableClick {
                                pointer-events: none;
                            }
                            .modal {
                                padding: 0 !important;
                            }
                            .modal .modal-dialog {
                                width: 100%;
                                max-width: none;
                                height: 100%;
                                margin: 0;
                            }
                            .modal .modal-content {
                                height: 100%;
                                border: 0;
                                border-radius: 0;
                            }
                            .modal .modal-body {
                                overflow-y: auto;
                            }
                            .col-md-6 {
                                width: 50%;
                                float: left;
                            }
                            .col-md-12 {
                                width: 100%;
                                float: left;
                                margin-bottom:15px;
                            }
                            .col-md-4{
                                float: left;
                                width: 25%;
                            }
                            .col-md-3{
                                float: left;
                                width: 33.33%;
                            }
                        </style>
                        <script src="sweetAlert/sweetalert2.min.js"></script>
</body>

</html>