<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title>
        <%- title %>
    </title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css"
        href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style type="text/css">
        .gap {
            text-align: center;
            background-color: #e2181870;

        }

        .thClass {
            font-size: 18px;
            font-weight: bold;
        }

        .disableClick {
            pointer-events: none;
        }

        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal .modal-body {
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <%- include('includes/header.ejs') %>
            <%- include('includes/sidebarDriver.ejs') %>

                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">
                                    <%- title %>
                                </h4>
                                <div class="ml-auto text-right">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%- title %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid" style="background-color: #fff; ">
                        <div class="container-fluid" style="background-color: #fff; ">





                            <div class="card-body">
                                <div class="row p-b-30" id="">
                                    <div class="col-12">
                                        <div class="card-body" id="uploadFiles_details">
                                            <!-- <h3 align="center" class="card-title">Create company</h3> -->
                                            <div style="text-align: center;">
                                                <span>
                                                    <h3>
                                                        Document Upload
                                                    </h3>
                                                </span>
                                                <img style="width: 15%" src="images/scanningwoohoo.gif" alt="homepage"
                                                    class="light-logo" />
                                            </div>
                                            <form class="form-horizontal" id="uploadFiles">
                                                <div class="row">

                                                    <input type="hidden" class="form-control" value="<%- driverID %>"
                                                        name="driverId" value="" id="id">
                                                    <input type="hidden" class="form-control" value="<%- company_id %>"
                                                        name="company_id" value="" id="company_id">
                                                    <p style="color:red">* Make sure file size below 2 MB &nbsp; <br>
                                                    </p> <br>
                                                    <!-- <p style="color:red" >* Please Make sure images should be in clear visibility</p> -->
                                                    <!-- ---------CVOR -------------- -->
                                                    <!-- <h3>CVOR File upload</h3> -->
                                                    <div style="width: 100%" class="container_cvor">
                                                    </div>
                                                    <br>
                                                    <div class="row">

                                                        <button class="btn btn-primary add_form_field_cvor">Add CVOR
                                                            Files &nbsp;
                                                            <span style="font-size:16px; font-weight:bold;">+
                                                            </span>
                                                        </button>
                                                        <br>
                                                        <hr>
                                                    </div>
                                                    <!-- ---------ABSTRACT -------------- -->
                                                    <!-- <h3>ABSTRACT File upload</h3> -->
                                                    <div style="width: 100%" class="container_abstract">
                                                    </div>
                                                    <br>
                                                    <div class="row">

                                                        <button class="btn btn-primary add_form_field_abstract">Add
                                                            ABSTRACT Files &nbsp;
                                                            <span style="font-size:16px; font-weight:bold;">+
                                                            </span>
                                                        </button>
                                                        <br>
                                                        <hr>
                                                    </div>
                                                    <!-- ---------PSP -------------- -->
                                                    <!-- <h3>PSP File upload</h3> -->
                                                    <div style="width: 100%" class="container_psp">
                                                    </div>
                                                    <br>
                                                    <div class="row">

                                                        <button class="btn btn-primary add_form_field_psp">Add PSP Files
                                                            &nbsp;
                                                            <span style="font-size:16px; font-weight:bold;">+
                                                            </span>
                                                        </button>
                                                        <br>
                                                        <hr>
                                                    </div>
                                                    <!-- ---------Police Clearance -------------- -->
                                                    <!-- <h3>Police Clearance File upload</h3> -->
                                                    <div style="width: 100%" class="container_police_clearance">
                                                    </div>
                                                    <br>
                                                    <div class="row">

                                                        <button
                                                            class="btn btn-primary add_form_field_police_clearance">Add
                                                            Police Clearance Files &nbsp;
                                                            <span style="font-size:16px; font-weight:bold;">+
                                                            </span>
                                                        </button>
                                                        <br>
                                                        <hr>
                                                    </div>
                                                    <!-- ---------Secondary ID -------------- -->
                                                    <!-- <h3>Secondary ID File upload</h3> -->
                                                    <div style="width: 100%" class="container_secondary_id">
                                                    </div>
                                                    <br>
                                                    <div class="row">

                                                        <button class="btn btn-primary add_form_field_secondary_id">Add
                                                            Secondary ID Files &nbsp;
                                                            <span style="font-size:16px; font-weight:bold;">+
                                                            </span>
                                                        </button>
                                                        <br>
                                                        <hr>
                                                    </div>


                                                </div>




                                                <div class="border-top">
                                                    <div style="text-align: center;" class="card-body">
                                                        <button type="Submit" id="submitBtn"
                                                            class="btn btn-success">Upload Files <i class="mdi mdi-cloud-upload"></i> </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>




                                </div>


                            </div>




                        </div>




                    </div>

                </div>



    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        <!-- All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a> -->
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <%- include('includes/footer.ejs') %>
        <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
        <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
        <script src="assets/extra-libs/DataTables/datatables.min.js"></script>
        <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script>
            //   jQuery(document).ready(function () {

            // $("#toDate").on("change",function(){
            //                 $("#toDate").focusout(function() {
            //                 alert('qwwe')
            //     var selected = $(this).val();
            //     alert(selected);
            // });

            function convertToBase64(inputfile, parms) {
                //Read File
                // alert(inputfile)
                // alert(parms)

                var selectedFile = document.getElementById(inputfile).files;

                console.log(selectedFile);
                //Check File is not Empty
                if (selectedFile.length > 0) {
                    // Select the very first file from list
                    var fileToLoad = selectedFile[0];
                    var filesize = selectedFile[0].size;
                    if (filesize <= '2069405') {
                        console.log(filesize);
                        // FileReader function for read the file.
                        var fileReader = new FileReader();
                        var base64;
                        // Onload of file read the file content
                        fileReader.onload = function (fileLoadedEvent) {
                            base64 = fileLoadedEvent.target.result;
                            // Print data in console
                            console.log(parms);
                            $("#" + parms).val(base64);
                            var div = document.getElementById(parms);
                            div.innerHTML += base64;

                        };
                        // Convert data to base64
                        fileReader.readAsDataURL(fileToLoad);
                    } else {
                        Swal.fire(
                            'Too Big!',
                            'Upload image size within 2 MB.',
                            'danger'
                        )
                        document.getElementById(inputfile).value = null;
                        return false;
                    }
                }
            }

            var max_fields = 10;
            var x = 1;
            // --------------------------------------Multiple form CVOR ---------------------------------

            var wrapper_cvor = $(".container_cvor");
            var add_button = $(".add_form_field_cvor");
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    let onchangeData = "convertToBase64('atachment" + x + "','atachment_file" + x + "');";
                    $(wrapper_cvor).append('<div class="cvorDiv"> <input type="hidden" name="fileType_cvor[]" id="fileType" value="cvor">  <div class="form-group row"><label for="attachment"class="col-sm-3 control-label col-form-label">Upload CVOR Document</label><div class="col-md-9"> <input type="file" id="atachment' + x + '" accept="application/pdf,image/png, image/jpeg" onchange="' + onchangeData + '" /><input type="hidden" name="attachment_file_cvor[]" id="atachment_file' + x + '">  <a href="#" data-fid = '+ x +' class="btn btn-danger delete">Delete </a>  <hr id="" style="height:2px;border-width:0;color:gray;background-color:gray">  </div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });
            $(wrapper_cvor).on("click", ".delete", function (e) {
                e.preventDefault();
                // $(this).parent('div').remove();
                $(this).closest('.cvorDiv').remove();
                x--;
            })
            // --------------------------------------Multiple form Abstract ---------------------------------
            var wrapper_abstract = $(".container_abstract");
            var add_button = $(".add_form_field_abstract");
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    let onchangeData = "convertToBase64('atachment" + x + "','atachment_file" + x + "');";
                    $(wrapper_abstract).append('<div class="abstractDiv"> <input type="hidden" name="fileType_abstract[]" id="fileType_abstract" value="abstract">  <div class="form-group row"><label for="attachment"class="col-sm-3 control-label col-form-label">Upload Abstract Document</label><div class="col-md-9"> <input type="file" id="atachment' + x + '" accept="application/pdf,image/png, image/jpeg" onchange="' + onchangeData + '" /><input type="hidden" name="attachment_file_abstract[]" id="atachment_file' + x + '"> <a href="#" data-fid = '+ x +' class="btn btn-danger delete">Delete </a>  <hr id="" style="height:2px;border-width:0;color:gray;background-color:gray">  </div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });
            $(wrapper_abstract).on("click", ".delete", function (e) {
                e.preventDefault();
                // $(this).parent('div').remove();
                $(this).closest('.abstractDiv').remove();
                x--;
            })
            // --------------------------------------Multiple form PSP ---------------------------------
            var wrapper_psp = $(".container_psp");
            var add_button = $(".add_form_field_psp");
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    let onchangeData = "convertToBase64('atachment" + x + "','atachment_file" + x + "');";
                    $(wrapper_psp).append('<div class="pspDiv"> <input type="hidden" name="fileType_psp[]" id="fileType_psp" value="psp">  <div class="form-group row"><label for="attachment"class="col-sm-3 control-label col-form-label">Upload PSP Document</label><div class="col-md-9"> <input type="file" id="atachment' + x + '" accept="application/pdf,image/png, image/jpeg" onchange="' + onchangeData + '" /><input type="hidden" name="attachment_file_psp[]" id="atachment_file' + x + '"> <a href="#" data-fid = '+ x +' class="btn btn-danger delete">Delete </a>  <hr id="" style="height:2px;border-width:0;color:gray;background-color:gray"> </div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });
            $(wrapper_psp).on("click", ".delete", function (e) {
                e.preventDefault();
                // $(this).parent('div').remove();
                $(this).closest('.pspDiv').remove();
                x--;
            })
            // --------------------------------------Multiple form Police Clearance ---------------------------------
            var wrapper_police_clearance = $(".container_police_clearance");
            var add_button = $(".add_form_field_police_clearance");
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    let onchangeData = "convertToBase64('atachment" + x + "','atachment_file" + x + "');";
                    $(wrapper_police_clearance).append('<div class="police_clearanceDiv"> <input type="hidden" name="fileType_police_clearance[]" id="fileType_police_clearance" value="police_clearance">  <div class="form-group row"><label for="attachment"class="col-sm-3 control-label col-form-label">Upload Police Clearance Document</label><div class="col-md-9"> <input type="file" id="atachment' + x + '" accept="application/pdf,image/png, image/jpeg" onchange="' + onchangeData + '" /><input type="hidden" name="attachment_file_police_clearance[]" id="atachment_file' + x + '"> <a href="#" data-fid = '+ x +' class="btn btn-danger delete">Delete </a>  <hr id="" style="height:2px;border-width:0;color:gray;background-color:gray"> </div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });
            $(wrapper_police_clearance).on("click", ".delete", function (e) {
                e.preventDefault();
                // $(this).parent('div').remove();
                $(this).closest('.police_clearanceDiv').remove();
                x--;
            })
            // --------------------------------------Multiple form Secondary ID ---------------------------------
            var wrapper_secondary_id = $(".container_secondary_id");
            var add_button = $(".add_form_field_secondary_id");
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    let onchangeData = "convertToBase64('atachment" + x + "','atachment_file" + x + "');";
                    $(wrapper_secondary_id).append('<div class="secondary_idDiv"> <input type="hidden" name="fileType_secondary_id[]" id="fileType_secondary_id" value="secondary_id">  <div class="form-group row"><label for="attachment"class="col-sm-3 control-label col-form-label">Upload Secondary Id Document</label><div class="col-md-9"> <input type="file" id="atachment' + x + '" accept="application/pdf,image/png, image/jpeg" onchange="' + onchangeData + '" /><input type="hidden" name="attachment_file_secondary_id[]" id="atachment_file' + x + '"> <a href="#" data-fid = '+ x +' class="btn btn-danger delete">Delete </a>  <hr id="" style="height:2px;border-width:0;color:gray;background-color:gray"> </div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });
            $(wrapper_secondary_id).on("click", ".delete", function (e) {
                e.preventDefault();
                // $(this).parent('div').remove();
                $(this).closest('.secondary_idDiv').remove();
                x--;
            })

            function handlemultipleNames(parms, values) {
                let arr = []
                $('input[name="' + parms + '[]"]').each(function () {
                    arr.push(this.value);
                    values = arr
                });
                return values
            }
            $("#uploadFiles").submit(function (event) {
                event.preventDefault();
                var values = {};
                $.each($('#uploadFiles').serializeArray(), function (i, field) {
                    values[field.name] = field.value;
                });

                var fileType_cvor = [];
                var fileType_cvor = $("input[name='fileType_cvor[]']")
                    .map(function () { return $(this).val(); }).get();
                values['fileTypearr_cvor'] = fileType_cvor
                var atachment_file_cvor = $("input[name='attachment_file_cvor[]']")
                    .map(function () { return $(this).val(); }).get();
                values['atachment_fileArr_cvor'] = atachment_file_cvor


                var fileType_abstract = [];
                var fileType_abstract = $("input[name='fileType_abstract[]']")
                    .map(function () { return $(this).val(); }).get();
                values['fileTypearr_abstract'] = fileType_abstract
                var attachment_file_abstract = $("input[name='attachment_file_abstract[]']")
                    .map(function () { return $(this).val(); }).get();
                values['atachment_fileArr_abstract'] = attachment_file_abstract


                var fileType_psp = [];
                var fileType_psp = $("input[name='fileType_psp[]']")
                    .map(function () { return $(this).val(); }).get();
                values['fileTypearr_psp'] = fileType_psp
                var attachment_file_psp = $("input[name='attachment_file_psp[]']")
                    .map(function () { return $(this).val(); }).get();
                values['atachment_fileArr_psp'] = attachment_file_psp


                var fileType_police_clearance = [];
                var fileType_police_clearance = $("input[name='fileType_police_clearance[]']")
                    .map(function () { return $(this).val(); }).get();
                values['fileTypearr_police_clearance'] = fileType_police_clearance
                var attachment_file_police_clearance = $("input[name='attachment_file_police_clearance[]']")
                    .map(function () { return $(this).val(); }).get();
                values['atachment_fileArr_police_clearance'] = attachment_file_police_clearance


                var fileType_secondary_id = [];
                var fileType_secondary_id = $("input[name='fileType_secondary_id[]']")
                    .map(function () { return $(this).val(); }).get();
                values['fileTypearr_secondary_id'] = fileType_secondary_id
                var attachment_file_secondary_id = $("input[name='attachment_file_secondary_id[]']")
                    .map(function () { return $(this).val(); }).get();
                values['atachment_fileArr_secondary_id'] = attachment_file_secondary_id

                // console.log('province');
                // console.log(province);


                // if ($("#uploadFiles #submitBtn").text() != "Update") {
                //     if (province.length < 1) {
                //         Swal.fire({
                //             title: 'Error!',
                //             text: 'Please fill Add driver licenses or permits',
                //             icon: 'error',
                //             confirmButtonText: 'Ok'
                //         })
                //         return false
                //     }
                // }

                var total = 0;

                // delete values['fileType'];
                console.log(values);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to update this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, update it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#uploadFiles #submitBtn").text('Please wait');
                        $("#uploadFiles #submitBtn").attr('disabled', true);
                        $.ajax({
                            url: "/insertFileUpload",
                            type: "POST",
                            data: values,
                            success: function (data) {
                                if (data.status) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 2000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    })
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    });
                                    // setTimeout(function () {
                                    //     window.location.reload();
                                    // }, 2000);
                                } else {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'Something went wrong',
                                        icon: 'error',
                                        confirmButtonText: 'Cool'
                                    })
                                }

                            }
                        });


                    }
                })
            });




        </script>
        <script src="sweetAlert/sweetalert2.min.js"></script>

</body>

</html>