<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title>
        <%- title %>
    </title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://compliancementorz.com/company_info/template/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <style type="text/css">
        .disableClick {
            pointer-events: none;
        }

        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal .modal-body {
            overflow-y: auto;
        }
        .col-md-12{
            width: 100%;
            float:left;
        }
        .all_fields{
            margin-top: 20px;;
        }
        .padding10{
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <%- include('../includes/header.ejs') %>
            <%- include('../includes/sidebar.ejs') %>

                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">
                                    <%- title %>
                                </h4>
                                <div class="ml-auto text-right">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%- title %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- End PAge Content -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                         Driver Report
                                    </div>

                                    <div class="col-md-6">
                                        Select Company
                                        <select class="form-select selectboxcss" name="exptype" id="exptype">
                                            <option value="">Select Company</option>
                                            <% getCompanydata.forEach(function(row){ %>
                                                <option value="<%= row.id %>">
                                                    <%= row.name %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div>

                                </div>
                                <form class="form-horizontal" id="updateDriver">
                                <div class="row" style="margin-bottom:30px;">
                                    <div class="col-md-12 all_fields"  style="display:none">
                                        <h3  >Check The Fields For Driver Report</h3>
                                        <div ></div>
                                        <div style="margin-top:20px;margin-left:50px;">
                                                <div style="display:none" class="all_fields">
                                                    From <input type="text" class="datepicker mydatepicker" id="from_date" name="from_date">
                                                    To <input type="text" class="datepicker mydatepicker" id="to_date" name="to_date">
                                                </div>
                                            <div style="display:none" class="all_fields">
                                                
                                                <!--<div class="padding10">
                                                    <input type="checkbox"  class="fields"> Sr Number
                                                </div>-->
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="application_date"> Application Date ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="driver_id"> Driver ID on ELD
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="driver_name"> Driver Name
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="position"> Driver Position
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="phoneCanada"> Canada Phone
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields"  name="phoneUSA"> US Phone
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="email"> Email
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="driver_license"> Licence No
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="province"> Province
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="license_expiry"> Licence Expiry ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="DOB"> DOB ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="medical_due_date"> Medical Due Date ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields"> Experience at the Time of Hire
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields"  name="sin"> Sin
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="cvor"> CVOR ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="abstract_date"> Abstract ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields"  name="psp_date"> PSP ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox"  class="fields" name="police_clearance_date"> Police Clearance ( dd/mm/yyyy)
                                                </div>
                                                <div class="padding10">
                                                    <input type="checkbox" class="fields" name="roadtest_date"> Roadtest ( dd/mm/yyyy)
                                                </div>
                                                <input type="button" class="form-control" value="Export" onclick="exportcsv()" style="cursor:pointer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>

                        <!-- ============================================================== -->
                        <!-- End Page wrapper  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Wrapper -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <%- include('../includes/footer.ejs') %>
                        <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
                        <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
                        <script src="assets/extra-libs/DataTables/datatables.min.js"></script>

                        <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script>

                            /****************************************
                             *       Basic Table                   *
                             ****************************************/
                            function exportcsv(){
                                if($('input[type=checkbox]:checked').length == 0){
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'Please check any one field',
                                        icon: 'error',
                                        confirmButtonText: 'Cool'
                                    });
                                    return false;
                                }
                                var from_date = $('#from_date').val();
                                var to_date = $('#to_date').val();
                                if(from_date=='' || to_date==''){
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'Please select from or to date',
                                        icon: 'error',
                                        confirmButtonText: 'Cool'
                                    });
                                    return false;
                                }
                                var values = {};
                                $.each($('#updateDriver').serializeArray(), function (i, field) {
                                    values[field.name] = field.value;
                                    // console.log(values[field.name]);
                                });
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to update this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, update it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#submitBtn").text('Please wait');
                                        $("#submitBtn").attr('disabled', true);
                                        $.ajax({
                                            url: "/superadminexportcsvdriver",
                                            type: "POST",
                                            data: values,
                                            success: function (csv ) {
                                                const blob = new Blob([csv], { type: 'text/csv' });
                                                const url = URL.createObjectURL(blob);
                                                const link = document.createElement('a');
                                                link.href = url;
                                                link.download = 'data.csv';
                                                document.body.appendChild(link);
                                                link.click();
                                                document.body.removeChild(link);

                                            }
                                        });


                                    }
                                })
                            }

                            $(document).ready(function () {

                                $('#exptype').on('change', function () {
                                    let cmpid = this.value;
                                    $('.all_fields').hide();
                                    if(cmpid!=''){
                                        $('.all_fields').show();
                                    }
                                  
                                });

                            });
                            jQuery('.mydatepicker_license').datepicker({
                                format: 'dd/mm/yyyy',
                            });
                            jQuery('.mydatepicker').datepicker({
                                format: 'dd/mm/yyyy',
                            });
                            jQuery('#datepicker-autoclose').datepicker({
                                autoclose: true,
                                todayHighlight: true
                            });

                        </script>
                        <script src="sweetAlert/sweetalert2.min.js"></script>
</body>

</html>