<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title><%- title %></title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
<link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="dist/css/style.min.css" rel="stylesheet">
<link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
<style type="text/css">
    .disableClick {
        pointer-events: none;
    }

.modal {
padding: 0 !important;
}
.modal .modal-dialog {
width: 100%;
max-width: none;
height: 100%;
margin: 0;
}
.modal .modal-content {
height: 100%;
border: 0;
border-radius: 0;
}
.modal .modal-body {
overflow-y: auto;
}
.btn-default{
background-color: #000;
}
.toggle-off {
    background-color: #27a9e3;
}
</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/sidebar.ejs') %>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="page-breadcrumb">
              <div class="row">
                  <div class="col-12 d-flex no-block align-items-center">
                      <h4 class="page-title"><%- title %></h4>
                      <div class="ml-auto text-right">
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><%- title %></li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
          <input type="hidden" id="driverid" value="<%= driverid %>">
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
              <!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
                     
              <div class="card">
                            <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/GetDriveralerthistorySuperadmin" id="" class="btn  btn-primary"><span class="fas fa-arrow-left"> Back</span></a>
                                      </div>

                                <div class="col-md-6">
                                   
                                    
                                </div>

                                </div> 
                                <h5 align="center" class="card-title"><%- title %></h5>
                                <div class="table-responsive">

                                    <table id="listhistory" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Driver Name</th>
                                                <th>Company Name</th>
                                                <th>To Mail</th>
                                                <th>Type</th>
                                                <th>Exp date</th>
                                                <th>Created Date</th>
                                            </tr>
                                        </thead>
                                      
                                    </table>
                                </div>

                            </div>
               </div>

              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- Right sidebar -->
              <!-- ============================================================== -->
              <!-- .right-sidebar -->
              <!-- ============================================================== -->
              <!-- End Right sidebar -->
              <!-- ============================================================== -->


              <!-- <button class="btn  btn-danger" data-target="#deletemodal" data-toggle="modal">Delete
                <span class="glyphicon glyphicon-edit"></span><i style="font-size: 15px;" class="fas fa-trash"></i>
                </button>  -->
        
                


                         




      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <%- include('../includes/footer.ejs') %>
    <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


      

<script src="sweetAlert/sweetalert2.min.js"></script>
<script>
let driverid = $("#driverid").val()
// alert(driverid)
</script>

<script>
     let customer = $('#listhistory').DataTable({
        processing: true,
        serverSide: true,
        order: [[0, 'ASC']],
        lengthMenu: [ [10,50,100,250,500,1000], [10,50,100,250,500,1000] ],
        pageLength: 10,
        searching: true,
        ajax: {
            url: "/GetDriveralerthistorySuperadminbyIDdata",
            data : function(data) {
                data.driverid = driverid
                // data.search_key = $("#searchKey").val(),
                // data.search_val = $("#searchVal").val()
            },
            type: "GET",
        },
        columns : [
            { "data" : "slno"},
            // { "data" : "driver_id"},
            { "data" : "driver_name"},
            { "data" : "companyname"},
            { "data" : "to_mail"},
            { "data" : "type"},
            { "data" : "expiry_date"},
            { "data" : "created_date"}
        ],
        select: true
        });
</script>
</body>

</html>