<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title>
        <%- title %>
    </title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css"
        href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style type="text/css">
        .disableClick {
            pointer-events: none;
        }

        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal .modal-body {
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <%- include('../includes/header.ejs') %>
            <%- include('../includes/sidebar.ejs') %>

                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">
                                    <%- title %>
                                </h4>
                                <div class="ml-auto text-right">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%- title %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->


                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>

                                    <div class="col-md-6">
                                        Select Company
                                        <select class="form-select selectboxcss" name="exptype" id="exptype">
                                            <option value="">Select Company</option>
                                            <% getCompanydata.forEach(function(row){ %>
                                                <option value="<%= row.id %>">
                                                    <%= row.name %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div>

                                </div>
                                <!-- <button class="btn btn-success" id="create_trailer_button"> Add Trailer <span class="glyphicon glyphicon-edit"></span>   <i style="font-size: 15px;" class="fas fa-plus"></i></button> -->
                                <h5 align="center" class="card-title">
                                    <!-- <%- title %> -->
                                </h5>
                                <div class="table-responsive">
                                    <table id="updateQuestionsDetails" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>First Name</th>
                                                <th>Approve Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                        </div>


                        <!-- view modal -->



                        <div id="viewmodal" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                            data-keyboard="false">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">Delete List</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center" class="card-title">View Driver Interview Questions</h3>
                                        <h4 align="center" class="card-title">

                                        </h4>
                                        <div class="card-body">

                                            <div class="row p-b-30">
                                                <div class="col-12">

                                                    <!-- <form class="form-horizontal" id="updateQuestions" style="background: #27a9e324;border-radius: 35px;"> -->
                                                    <div class="card-body" id="updateQuestions_details_view">
                                                        <span>Approvals Status: <h5 id="approveStatus"></h5></span>
                                                        <!-- <h3 align="center" class="card-title">Create company</h3> -->
                                                        <div style="text-align: center;">
                                                            <span>
                                                                <h4></h4>
                                                            </span>
                                                            <!-- <img style="width: 70%" src="images/truck_company.png" alt="homepage" class="light-logo" /> -->
                                                        </div>
                                                        <br>

                                                        <input type="hidden" class="form-control" readonly
                                                            name="driverId" value="" id="driverId">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="company_id" value="" id="company_id">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="approveStatus" value="1" id="approveStatus">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="actionData" value="" id="actionData">
                                                        <div class="row">





                                                            <div class="col-md-2">


                                                            </div>

                                                            <div class="col-md-8">
                                                                <b>Name of Driver : </b><span id="driverName"></span>
                                                                <br>
                                                                <b>License No : </b><span
                                                                    id="driver_license"></span><br><br><br>

                                                                <div class="form-group row">
                                                                    <label for="question1"
                                                                        class="col-sm-3 control-label col-form-label">1.
                                                                        What are
                                                                        your strengths as a driver?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question1" value="" id="question1">
                                                                    </div>
                                                                </div>

                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question2"
                                                                        class="col-sm-3 control-label col-form-label">2.
                                                                        Why are you
                                                                        looking for a job?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question2" value="" id="question2">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question3"
                                                                        class="col-sm-3 control-label col-form-label">3.
                                                                        Why did you
                                                                        choose to approach our company?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question3" value="" id="question3">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question4"
                                                                        class="col-sm-3 control-label col-form-label">4.
                                                                        Can you
                                                                        provide references from your current or
                                                                        previous employers
                                                                        or we can verify it? Please provide
                                                                        contact details.</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question4" value="" id="question4">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question5"
                                                                        class="col-sm-3 control-label col-form-label">5.
                                                                        If you have
                                                                        any preferred area to haul loads and
                                                                        why?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question5" value="" id="question5">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question6"
                                                                        class="col-sm-3 control-label col-form-label">6.
                                                                        What
                                                                        training do you think you will require doing
                                                                        this
                                                                        job?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question6" value="" id="question6">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question7"
                                                                        class="col-sm-3 control-label col-form-label">7.
                                                                        What would
                                                                        your current employer have to do to make you
                                                                        stay?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question7" value="" id="question7">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question8"
                                                                        class="col-sm-3 control-label col-form-label">8.
                                                                        Tell me how
                                                                        you handled a problem with a dispatcher /
                                                                        customer?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question8" value="" id="question8">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question9"
                                                                        class="col-sm-3 control-label col-form-label">9.
                                                                        Tell me
                                                                        about the last roadside inspection you had
                                                                        and
                                                                        where?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question9" value="" id="question9">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question10"
                                                                        class="col-sm-3 control-label col-form-label">10.
                                                                        If you
                                                                        ever had problem at the border? If yes
                                                                        explain.</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question10" value="" id="question10">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question11"
                                                                        class="col-sm-3 control-label col-form-label">11.
                                                                        If you
                                                                        have a previous collision / citation, tell
                                                                        me about it and
                                                                        what you would do different now?</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question11" value="" id="question11">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="question12"
                                                                        class="col-sm-3 control-label col-form-label">12.
                                                                        Did you
                                                                        receive remedial training from the collision
                                                                        / citation? If
                                                                        answer to above is yes.</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="question12" value="" id="question12">
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <!-- <div class="form-group row">
                                                                    <label for="interviewer"
                                                                        class="col-sm-3 control-label col-form-label">Name
                                                                        of the Interviewer.</label>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control"
                                                                            name="interviewer" value=""
                                                                            id="interviewer">
                                                                    </div>
                                                                </div>
                                                                <br> -->

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <b>Drivers Signature :</b> <img src=""
                                                                            id="signature" alt="user" width="150"></a>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <b>Name of the Interviewer :</b>
                                                                        <input type="text" class="form-control"
                                                                            name="interviewer" value=""
                                                                            id="interviewer">
                                                                    </div>

                                                                </div>


                                                            </div>
                                                            <div class="col-md-2">
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <!-- </form> -->



                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- edit modal -->

                        <!-- edit modal -->



                        <div id="editmodal" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                            data-keyboard="false">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">Delete List</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center" class="card-title">Edit Driver Interview Questions</h3>
                                        <h4 align="center" class="card-title">

                                        </h4>
                                        <div class="card-body">

                                            <div class="row p-b-30">
                                                <div class="col-12">

                                                    <form class="form-horizontal" id="updateQuestions"
                                                        style="background: #27a9e324;border-radius: 35px;">
                                                        <div class="card-body" id="updateQuestions_details">
                                                            <span>Approvals Status: <h5 id="approveStatus"></h5></span>
                                                            <div class="col-md-6">
                                                                <a class="btn btn-success" id="approve_button">Approve
                                                                    <span class="glyphicon glyphicon-edit"></span> <i
                                                                        style="font-size: 15px;"
                                                                        class="fas fa-check"></i></a>
                                                            </div>

                                                            <!-- <h3 align="center" class="card-title">Create company</h3> -->
                                                            <div style="text-align: center;">
                                                                <span>
                                                                    <h4></h4>
                                                                </span>
                                                                <!-- <img style="width: 70%" src="images/truck_company.png" alt="homepage" class="light-logo" /> -->
                                                            </div>
                                                            <br>

                                                            <input type="hidden" class="form-control" name="driverId"
                                                                value="" id="driverId">
                                                            <input type="hidden" class="form-control" name="company_id"
                                                                value="" id="company_id">
                                                            <input type="hidden" class="form-control"
                                                                name="approveStatus" value="1" id="approveStatus">
                                                            <input type="hidden" class="form-control" name="actionData"
                                                                value="" id="actionData">
                                                            <div class="row">


                                                                <div class="col-md-2">


                                                                </div>

                                                                <div class="col-md-8">
                                                                    <b>Name of Driver : </b><span
                                                                        id="driverName"></span> <br>
                                                                    <b>License No : </b><span
                                                                        id="driver_license"></span><br><br><br>

                                                                    <div class="form-group row">
                                                                        <label for="question1"
                                                                            class="col-sm-3 control-label col-form-label">1.
                                                                            What are
                                                                            your strengths as a driver?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question1" value=""
                                                                                id="question1">
                                                                        </div>
                                                                    </div>

                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question2"
                                                                            class="col-sm-3 control-label col-form-label">2.
                                                                            Why are you
                                                                            looking for a job?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question2" value=""
                                                                                id="question2">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question3"
                                                                            class="col-sm-3 control-label col-form-label">3.
                                                                            Why did you
                                                                            choose to approach our company?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question3" value=""
                                                                                id="question3">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question4"
                                                                            class="col-sm-3 control-label col-form-label">4.
                                                                            Can you
                                                                            provide references from your current or
                                                                            previous employers
                                                                            or we can verify it? Please provide
                                                                            contact details.</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question4" value=""
                                                                                id="question4">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question5"
                                                                            class="col-sm-3 control-label col-form-label">5.
                                                                            If you have
                                                                            any preferred area to haul loads and
                                                                            why?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question5" value=""
                                                                                id="question5">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question6"
                                                                            class="col-sm-3 control-label col-form-label">6.
                                                                            What
                                                                            training do you think you will require doing
                                                                            this
                                                                            job?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question6" value=""
                                                                                id="question6">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question7"
                                                                            class="col-sm-3 control-label col-form-label">7.
                                                                            What would
                                                                            your current employer have to do to make you
                                                                            stay?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question7" value=""
                                                                                id="question7">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question8"
                                                                            class="col-sm-3 control-label col-form-label">8.
                                                                            Tell me how
                                                                            you handled a problem with a dispatcher /
                                                                            customer?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question8" value=""
                                                                                id="question8">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question9"
                                                                            class="col-sm-3 control-label col-form-label">9.
                                                                            Tell me
                                                                            about the last roadside inspection you had
                                                                            and
                                                                            where?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question9" value=""
                                                                                id="question9">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question10"
                                                                            class="col-sm-3 control-label col-form-label">10.
                                                                            If you
                                                                            ever had problem at the border? If yes
                                                                            explain.</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question10" value=""
                                                                                id="question10">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question11"
                                                                            class="col-sm-3 control-label col-form-label">11.
                                                                            If you
                                                                            have a previous collision / citation, tell
                                                                            me about it and
                                                                            what you would do different now?</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question11" value=""
                                                                                id="question11">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group row">
                                                                        <label for="question12"
                                                                            class="col-sm-3 control-label col-form-label">12.
                                                                            Did you
                                                                            receive remedial training from the collision
                                                                            / citation? If
                                                                            answer to above is yes.</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="question12" value=""
                                                                                id="question12">
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <!-- <div class="form-group row">
                                                                        <label for="interviewer"
                                                                            class="col-sm-3 control-label col-form-label">Name
                                                                            of the Interviewer.</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control"
                                                                                name="interviewer" value=""
                                                                                id="interviewer">
                                                                        </div>
                                                                    </div>
                                                                    <br> -->


                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <b>Drivers Signature :</b> <img src=""
                                                                                id="signature" alt="user"
                                                                                width="150"></a> </a>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <b>Name of the Interviewer :</b>
                                                                            <input required type="text" class="form-control"
                                                                                name="interviewer" value=""
                                                                                id="interviewer">
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-md-2">


                                                                </div>







                                                            </div>

                                                        </div>
                                                        <div class="border-top">
                                                            <div style="text-align: center;" class="card-body">
                                                                <button type="Submit" id="submitBtn"
                                                                    class="btn btn-primary">Update</button>
                                                            </div>
                                                        </div>
                                                </div>

                                                </form>



                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- edit modal -->










                        <!-- create trailer -->





                        <!-- ============================================================== -->
                        <!-- End Page wrapper  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Wrapper -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <%- include('../includes/footer.ejs') %>
                        <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
                        <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
                        <script src="assets/extra-libs/DataTables/datatables.min.js"></script>

                        <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script>



                            /****************************************
                             *       Basic Table                   *
                             ****************************************/
                            // $('#zero_config').DataTable();

                            $(document).ready(function () {


                                let date = new Date();
                                var currentdate =
                                    ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
                                    ("00" + date.getDate()).slice(-2) + "/" +
                                    date.getFullYear();

                                $(document).on('click', '#viewmodalid', function () {
                                    // alert('test')
                                    let id = $(this).attr('data-id');
                                    // alert(id)
                                    // console.log($(this).attr("data-id"));
                                    $.ajax({
                                        url: "/companyeditQuestions",
                                        type: "GET",
                                        data: { id: id },
                                        success: function (data) {
                                            console.log(data);
                                            if (data.status) {
                                                let approveStatus;
                                                if (data.data.approveStatus == 0) {
                                                    // alert(0)
                                                    $('#approve_button').show()
                                                    approveStatus = 'Waiting For admin approval'
                                                } else {
                                                    // alert(1)
                                                    $('#approve_button').hide()
                                                    approveStatus = 'Approved'
                                                }
                                                $("body #updateQuestions_details_view #approveStatus").text(approveStatus);
                                                $("body #updateQuestions_details_view #submitBtn").text('Update');
                                                $('body #updateQuestions_details_view #actionData').val('Update');
                                                $('body #updateQuestions_details_view #question1').val(data.data.question1).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question2').val(data.data.question2).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question3').val(data.data.question3).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question4').val(data.data.question4).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question5').val(data.data.question5).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question6').val(data.data.question6).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question7').val(data.data.question7).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question8').val(data.data.question8).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question9').val(data.data.question9).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question10').val(data.data.question10).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question11').val(data.data.question11).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #question12').val(data.data.question12).attr('readonly', 'readonly');
                                                $('body #updateQuestions_details_view #interviewer').val(data.data.interviewer).attr('readonly', 'readonly');

                                                $("body #updateQuestions_details_view #driverName").text(data.driverData.driver_name);
                                                $("body #updateQuestions_details_view #driver_license").text(data.driverData.driver_license);
                                                $("body #updateQuestions_details_view #interviewer").text(data.data.interviewer);
                                                let signaturePath = 'uploads/attachment/drivinghistoryaddressSignature/' + data.getDrivinghistory.signature;
                                                $("body #updateQuestions_details_view #signature").attr("src", signaturePath);




                                                $('body #viewmodal').modal('show');

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                // window.location = "/";
                                            }

                                        }
                                    });
                                });

                                $(document).on('click', '#editmodalid', function () {
                                    // alert('test')
                                    let id = $(this).attr('data-id');
                                    // alert(id)
                                    // console.log($(this).attr("data-id"));
                                    $.ajax({
                                        url: "/companyeditQuestions",
                                        type: "GET",
                                        data: { id: id },
                                        success: function (data) {
                                            console.log(data);
                                            if (data.status) {
                                                let approveStatus;
                                                if (data.data.approveStatus == 0) {
                                                    $('#approve_button').show()
                                                    approveStatus = 'Waiting For admin approval'
                                                } else {
                                                    $('#approve_button').hide()
                                                    approveStatus = 'Approved'
                                                }
                                                $("body #updateQuestions_details #commentsSection").html('<input required type="text" class="form-control" placeholder="Please enter comments this will help admin to approve this request" name="comment" value="" id="comments">');
                                                $("body #updateQuestions_details #driverId").val(data.data.driverId);
                                                $("body #updateQuestions_details #company_id").val(data.data.company_id);
                                                $("body #updateQuestions_details #approveStatus").text(approveStatus);
                                                $("body #updateQuestions_details #driverName").text(data.driverData.driver_name);
                                                $("body #updateQuestions_details #driver_license").text(data.driverData.driver_license);
                                                $("body #updateQuestions_details #interviewer").text(data.data.interviewer);
// console.log(data);
                                                if (data.getDrivinghistory.signature != '') {
                                                    let signaturePath = 'uploads/attachment/drivinghistoryaddressSignature/' + data.getDrivinghistory.signature;
                                                $("body #updateQuestions_details #signature").attr("src", signaturePath);
                                                } else {
                                                    $("body #updateQuestions_details #signature").hide()
                                                }


                                              

                                                $("body #updateQuestions_details #submitBtn").text('Update');
                                                $('body #updateQuestions_details #actionData').val('Update');

                                                $('body #updateQuestions_details #question1').val(data.data.question1);
                                                $('body #updateQuestions_details #question2').val(data.data.question2);
                                                $('body #updateQuestions_details #question3').val(data.data.question3);
                                                $('body #updateQuestions_details #question4').val(data.data.question4);
                                                $('body #updateQuestions_details #question5').val(data.data.question5);
                                                $('body #updateQuestions_details #question6').val(data.data.question6);
                                                $('body #updateQuestions_details #question7').val(data.data.question7);
                                                $('body #updateQuestions_details #question8').val(data.data.question8);
                                                $('body #updateQuestions_details #question9').val(data.data.question9);
                                                $('body #updateQuestions_details #question10').val(data.data.question10);
                                                $('body #updateQuestions_details #question11').val(data.data.question11);
                                                $('body #updateQuestions_details #question12').val(data.data.question12);
                                                $('body #updateQuestions_details #interviewer').val(data.data.interviewer);

                                                $('body #editmodal').modal('show');

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                // $("body #updateQuestions_details #submitBtn").text('Create');
                                                // $('body #updateQuestions_details #actionData').val('Create');
                                                // $("body #updateQuestions_details #fastCardAttachment_file_link").hide();
                                                // window.location = "/";
                                            }

                                        }
                                    });
                                });




                                $('#exptype').on('change', function () {
                                // let cmpid = $('body #company_id').val();
                                let cmpid = this.value;
                                // alert(cmpid) 
                                $('body #create_trailer #company_id').val(cmpid);
                                $("#create_trailer_button").show()

                                $("#updateQuestionsDetails").dataTable().fnDestroy();

                                let customer = $('#updateQuestionsDetails').DataTable({
                                    processing: true,
                                    serverSide: true,
                                    order: [[0, 'ASC']],
                                    lengthMenu: [[10, 50, 100, 250, 500, 1000], [10, 50, 100, 250, 500, 1000]],
                                    pageLength: 10,
                                    searching: true,
                                    ajax: {
                                        url: "/company_get_Questions",
                                        data: function (data) {
                                            data.cmpid = cmpid
                                            // data.search_key = $("#searchKey").val(),
                                            // data.search_val = $("#searchVal").val()
                                        },
                                        type: "GET",
                                    },
                                    columns: [
                                        { "data": "slno" },
                                        { "data": "driver_name" },
                                        { "data": "approve" },
                                        { "data": "action" }
                                    ],
                                    select: true
                                });


                                });
                            });



                            $(document).on('click', '#deletedriverDtls', function () {
                                let id = $(this).attr('data-id');

                                // alert(id)
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {


                                        $.ajax({
                                            url: "/companydeleteQuestions",
                                            type: "POST",
                                            data: { id: id },
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    }); setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });




                            $(document).on('click', '#approve_button', function () {

                                let id = $('body #updateQuestions_details #driverId').val();

                                // alert(id)
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to approve this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, approve it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {


                                        $.ajax({
                                            url: "/companyapproveQuestions",
                                            type: "POST",
                                            data: { id: id },
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    });
                                                    setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });

                            $("#updateQuestions").submit(function (event) {
                                event.preventDefault();

                                var values = {};
                                $.each($('#updateQuestions').serializeArray(), function (i, field) {
                                    values[field.name] = field.value;
                                    // console.log(values[field.name]);
                                });
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to update this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, update it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#submitBtn").text('Please wait');
                                        $("#submitBtn").attr('disabled', true);
                                        $.ajax({
                                            url: "/companyupdateQuestions",
                                            type: "POST",
                                            data: values,
                                            // data: {id: getValue("id"),name:getValue("name")},
                                            // data: {id: getValue("id"),name:getValue("name")},
                                            // data:{id : values.id,name : values.name,username : values.username,password : values.password,management_name : values.management_name,phone : values.phone,email : values.email,safety_coordinator : values.safety_coordinator,safety_coordinator_phone : values.safety_coordinator_phone,cvor : values.cvor,cvor_expiry : values.cvor_expiry,mc_number : values.mc_number,mc_pin : values.mc_pin,usdot : values.usdot,fmcsa : values.fmcsa,ky : values.ky,nm : values.nm,ny : values.ny,fein : values.fein,ezee : values.ezee,ifta : values.ifta,business_identificaton : values.business_identificaton,mvid : values.mvid,sunpass : values.sunpass,pre_pass : values.pre_pass,best_pass : values.best_pass,scac : values.scac,carrier_code : values.carrier_code,irp_accountno : values.irp_accountno,irp_renewal : values.irp_renewal,svi_number : values.svi_number,insurance_company : values.insurance_company,broker_detail : values.broker_detail,policy_number : values.policy_number,exp_date : values.exp_date,drug_alcohol : values.drug_alcohol,psp_account : values.psp_account,ctpat : values.ctpat,ctpat_password : values.ctpat_password,smartway : values.smartway,pip : values.pip,us_canadian_bond : values.us_canadian_bond,wsib_account : values.wsib_account,eld_username : values.eld_username,eld_password : values.eld_password,fuel_company_name : values.fuel_company_name,fuel_company_username : values.fuel_company_username,fuel_company_password :fvalues.uel_company_password,ace_username : values.ace_username,ace_password : values.ace_password,hazmat : values.hazmat,hazmat_exp : values.hazmat_exp,dashcam_username : values.dashcam_username,dashcam_password : values.dashcam_password,trailer_trackers : values.trailer_trackers,trailer_password : values.trailer_password},
                                            // data:{id : values.id,name : values.name,username : values.username,password : values.password,
                                            //     management_name : values.management_name,phone : values.phone,email : values.email,safety_coordinator : values.safety_coordinator,safety_coordinator_phone : values.safety_coordinator_phone,cvor : values.cvor,cvor_expiry : values.cvor_expiry,mc_number : values.mc_number,
                                            //     mc_pin : values.mc_pin,usdot : values.usdot,fmcsa : values.fmcsa,ky : values.ky,
                                            //     nm : values.nm,ny : values.ny,fein : values.fein,ezee : values.ezee,ifta : values.ifta,business_identificaton : values.business_identificaton,mvid : values.mvid,sunpass : values.sunpass,pre_pass : values.pre_pass,best_pass : values.best_pass,scac : values.scac,carrier_code : values.carrier_code,irp_accountno : values.irp_accountno,irp_renewal : values.irp_renewal,svi_number : values.svi_number,insurance_company : values.insurance_company,broker_detail : values.broker_detail,policy_number : values.policy_number,exp_date : values.exp_date,drug_alcohol : values.drug_alcohol,psp_account : values.psp_account,ctpat : values.ctpat,ctpat_password : values.ctpat_password,smartway : values.smartway,pip : values.pip,us_canadian_bond : values.us_canadian_bond,wsib_account : values.wsib_account,eld_username : values.eld_username,eld_password : values.eld_password,fuel_company_name : values.fuel_company_name,fuel_company_username : values.fuel_company_username,fuel_company_password :values.fuel_company_password,ace_username : values.ace_username,ace_password : values.ace_password,hazmat : values.hazmat,hazmat_exp : values.hazmat_exp,dashcam_username : values.dashcam_username,dashcam_password : values.dashcam_password,trailer_trackers : values.trailer_trackers,trailer_password : values.trailer_password},
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    });
                                                    setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });





                        </script>
                        <script src="sweetAlert/sweetalert2.min.js"></script>
</body>

</html>