<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png"> -->
    <title>
        <%- title %>
    </title>
    <!-- Custom CSS -->
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/extra-libs/multicheck/multicheck.css">
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css"
        href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style type="text/css">
        .disableClick {
            pointer-events: none;
        }

        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal .modal-body {
            overflow-y: auto;
        }
		.float_left{
			float:left;
		}
		.form-group{
			width:100%
		}
		.col-md-1{
		  max-width:11%
		}
		.l_10 {
			margin-left: 10px;
		}
		.green{
			color:green;
		}
		.red{
			color:red;
		}
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <%- include('../includes/header.ejs') %>
            <%- include('../includes/sidebar.ejs') %>

                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <h4 class="page-title">
                                    <%- title %>
                                </h4>
                                <div class="ml-auto text-right">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%- title %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->


                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>

                                    <div class="col-md-6">
                                        Select Company
                                        <select class="form-select selectboxcss" name="exptype" id="exptype">
                                            <option value="">Select Company</option>
                                            <% getCompanydata.forEach(function(row){ %>
                                                <option value="<%= row.id %>">
                                                    <%= row.name %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div>

                                </div>
                                <!-- <button class="btn btn-success" id="create_trailer_button"> Add Trailer <span class="glyphicon glyphicon-edit"></span>   <i style="font-size: 15px;" class="fas fa-plus"></i></button> -->
                                <h5 align="center" class="card-title">
                                    <!-- <%- title %> -->
                                </h5>
                                <div class="table-responsive">
                                    <table id="updateQuestionsDetails" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">Id</th>
                                                <th style="width:15%">First Name</th>
                                                <th>Result</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                        </div>


                        <!-- view modal -->



                        <div id="viewmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">Delete List</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center" class="card-title">View HOS Questionnaire for US</h3>
                                        <h4 align="center" class="card-title">

                                        </h4>
                                        <div class="card-body">

                                            <div class="row p-b-30">
                                                <div class="col-12">

                                                    <!-- <form class="form-horizontal" id="updateQuestions" style="background: #27a9e324;border-radius: 35px;"> -->
                                                    <div class="card-body" id="updateQuestions_details_view">
                                                       
                                                        <!-- <h3 align="center" class="card-title">Create company</h3> -->
                                                        <div style="text-align: center;">
                                                            <span>
                                                                <h4></h4>
                                                            </span>
                                                            <!-- <img style="width: 70%" src="images/truck_company.png" alt="homepage" class="light-logo" /> -->
                                                        </div>
                                                        <br>

                                                        <input type="hidden" class="form-control" readonly
                                                            name="driverId" value="" id="driverId">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="company_id" value="" id="company_id">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="approveStatus" value="1" id="approveStatus">
                                                        <input type="hidden" class="form-control" readonly
                                                            name="actionData" value="" id="actionData">
                                                        <div class="row">





                                                            <div class="col-md-2">


                                                            </div>

                                                            <div class="col-md-8">
                                                                <div class="col-md-6 float_left">
																	<b>Name of Driver : </b><span id="vdriverName"></span> 
																</div>
																<div class="col-md-6 float_left">
																	<b>Result : </b><span id="vans_percentage"></span>
																</div>
																<div class="col-md-6 float_left">
                                                                    <b>Licence : </b><span id="vdriverlicence"></span> 
                                                                </div>
                                                                <br><br><br>

                                                               <div class="form-group row">
														<label for="question1"
															class="col-sm-12 control-label col-form-label">1.	Which of the following would be recorded as on duty not driving</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer1 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text1" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer1 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">spending 1 hour unloading the trailer</span>
																
															</div>
															
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label class="col-md-12">2. If a driver is taking split sleeper (2+8) in USA, Duty status must be recorded as:</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer2 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text2" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer2 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">off duty, Sleeper berth</span>
																
															</div>
															
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question2"
															class="col-sm-12 control-label col-form-label">3. A commercial driver can use personal conveyance to drive if his/her driving time is exhausted and he is 45 minutes away from destination.</label>
															<div class="col-md-12 float_left">
																<div class="col-md-12 float_left select_answer3 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text3" class="green"></span>
																</div>
															<div class="col-md-12 float_left correct_answer3 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">False</span>
																
															</div>
															</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question4"
															class="col-sm-12 control-label col-form-label">4. A  Canadian driver can do Yard move on a Public road within US</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<div class="col-md-12 float_left select_answer4 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text4" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer4 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">False</span>
															</div>
															
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question5"
															class="col-sm-12 control-label col-form-label">5. A driver can go for 30 min On-duty not driving, after 8 hours driving in US</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<div class="col-md-12 float_left select_answer5 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text5" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer5 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">True</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question6"
															class="col-sm-12 control-label col-form-label">6. In a snow storm, a driver can extend his shift to 16 hours and drive time to 13 hours in US, if:</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer6 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text6" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer6 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">Storm started while duty status is driving and have to reach safe place/span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question7"
															class="col-sm-12 control-label col-form-label">7. A driver can use personal conveyance while crossing the border.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer7 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text7" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer7 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">False</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question8"
															class="col-sm-12 control-label col-form-label">8. While Fuelling Duty status must be changed to</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer8 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text8" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer8 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">On duty</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question9"
															class="col-sm-12 control-label col-form-label">9. A Canadian Driver has driven 12 hours in Canada, when he reached Sarina.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer9 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text9" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer9 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">He has to take 10 hours off in Canada before crossing the border</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question10"
															class="col-sm-12 control-label col-form-label">10. It is mandatory to certify all the logs at the end of 24 Hours period.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer10 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text10" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer10 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">True</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question12"
															class="col-sm-12 control-label col-form-label">11. Yard move can be used during</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer11 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text11" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer11 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">Loading</span>
															</div>
															
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question12"
															class="col-sm-12 control-label col-form-label">12. How many hours of rest required after 14 hours of on duty in USA.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer12 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text12" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer12 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">10</span>
															</div>
															
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question10"
															class="col-sm-12 control-label col-form-label">13. If the ELD stops working when the driver is on a trip, the driver should</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer13 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text13" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer13 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">both a & c</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question11"
															class="col-sm-12 control-label col-form-label">14. In the United States, how long are you permitted to use paper logs after an ELD malfunction during the trip?</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer14 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text14" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer14 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">Till the trip has been completed</span>
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question12"
															class="col-sm-12 control-label col-form-label">15. If a driver has adopted 14/120 cycle in Canada, he can go to US without resetting his cycle.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left select_answer15 hide_div" style="display:none"><label>Selected Answer</label><br><span id="answer_text15" class="green"></span></div>
															<div class="col-md-12 float_left correct_answer15 hide_div" style="display:none">
																<label>Correct Answer</label><br>
																<span class="green">False</span>
															</div>
														</div>
													</div>


                                                            </div>
                                                            <div class="col-md-2">
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <!-- </form> -->



                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- edit modal -->

                        <!-- edit modal -->



                        <div id="editmodal" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                            data-keyboard="false">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <!-- <h4 class="modal-title">Delete List</h4> -->
                                    </div>
                                    <div class="modal-body">
                                        <h3 align="center" class="card-title">Edit HOS Questionnaire for US</h3>
                                        <h4 align="center" class="card-title">

                                        </h4>
                                        <div class="card-body">

                                            <div class="row p-b-30">
                                                <div class="col-12">

                                                    <form class="form-horizontal" id="updateQuestions"
                                                        style="background: #27a9e324;border-radius: 35px;">
                                                        <div class="card-body" id="updateQuestions_details">
                                                            <span>Approvals Status: <h5 id="approveStatus"></h5></span>
                                                            <div class="col-md-6">
                                                                <a class="btn btn-success" id="approve_button">Approve
                                                                    <span class="glyphicon glyphicon-edit"></span> <i
                                                                        style="font-size: 15px;"
                                                                        class="fas fa-check"></i></a>
                                                            </div>

                                                            <!-- <h3 align="center" class="card-title">Create company</h3> -->
                                                            <div style="text-align: center;">
                                                                <span>
                                                                    <h4></h4>
                                                                </span>
                                                                <!-- <img style="width: 70%" src="images/truck_company.png" alt="homepage" class="light-logo" /> -->
                                                            </div>
                                                            <br>

                                                            <input type="hidden" class="form-control" name="driverId"
                                                                value="" id="driverId">
                                                            <input type="hidden" class="form-control" name="company_id"
                                                                value="" id="company_id">
                                                            <input type="hidden" class="form-control"
                                                                name="approveStatus" value="1" id="approveStatus">
                                                            <input type="hidden" class="form-control" name="actionData"
                                                                value="" id="actionData">
                                                            <div class="row">


                                                                <div class="col-md-2">


                                                                </div>

                                                                <div class="col-md-8">
                                                                    <div class="col-md-6 float_left">
																		<b>Name of Driver : </b><span id="driverName"></span> 
																	</div>
																	<div class="col-md-6 float_left">
																		<b>Result : </b><span id="ans_percentage"></span>
																	</div>
																	<br><br><br>

                                                                    <div class="form-group row">
														<label for="question1"
															class="col-sm-12 control-label col-form-label">1.	Which of the following would be recorded as on duty not driving</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question1" id="question11e" name="question1" value="taking a 15-minute break at a rest area"> a. taking a 15-minute break at a rest area
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question1" id="question12e" name="question1" value="spending 1 hour unloading the trailer"> b. spending 1 hour unloading the trailer
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question1" id="question13e" name="question1" value="taking a 1-hour nap in the sleeper"> c. taking a 1-hour nap in the sleeper
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question1" id="question14e" name="question1" value="all of the above"> d. all of the above
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																spending 1 hour unloading the trailer
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label class="col-md-12">2. If a driver is taking split sleeper (2+8) in USA, it must be recorded on:</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio"  id="question21e" name="question2" value="Off duty & Off duty"> a. Off duty & Off duty
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  id="question22e" name="question2" value="Sleeper berth, off duty"> b. Sleeper berth, off duty
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  id="question23e" name="question2" value="off duty, Sleeper berth"> c. off duty, Sleeper berth
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  id="question24e" name="question2" value="either a or b"> d. either a or b
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																off duty, Sleeper berth
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question2"
															class="col-sm-12 control-label col-form-label">3. A commercial driver can use personal conveyance to drive if his/her driving time is exhausted and he is 10 minutes away from destination.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question3" id="question31e" name="question3" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question3" id="question32e" name="question3" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																False
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question4"
															class="col-sm-12 control-label col-form-label">4. A  Canadian driver can do Yard move on a road with red lights in US</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question4" id="question41e" name="question4" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question4" id="question42e" name="question4" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																False
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question5"
															class="col-sm-12 control-label col-form-label">5. A driver can go for 30 min On-duty not driving, after 8 hours driving in US</label>
														<div class="col-md-12">
														   <div class="col-md-12 float_left">
																<input type="radio" class="question5" id="question51e" name="question5" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question5" id="question52e" name="question5" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																True
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question6"
															class="col-sm-12 control-label col-form-label">6. In a snow storm, a driver can extend his shift to 16 hours and drive time to 13 hours in US, if:</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question6" id="question61e" name="question6" value="He starts his trip from home terminal in the storm, because he has to deliver Cargo for an important customer"> a. He starts his trip from home terminal in the storm, because he has to deliver Cargo for an important customer
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question6" id="question62e" name="question6" value="He has completed his 10-hour rest in the truck stop and has to start driving despite the snow storm"> b. He has completed his 10-hour rest in the truck stop and has to start driving despite the snow storm
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question6" id="question63e" name="question6" value="He is already driving when the storm started"> c. He is already driving when the storm started
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question6" id="question64e" name="question6" value="None of the Above"> d. None of the Above
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																He is already driving when the storm started
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question7"
															class="col-sm-12 control-label col-form-label">7. A driver can use personal conveyance while crossing the border.</label>
														<div class="col-md-12">
															 <div class="col-md-12 float_left">
																<input type="radio" class="question7" id="question71e" name="question7" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question7" id="question72e" name="question7" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																False
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question8"
															class="col-sm-12 control-label col-form-label">8. Fuelling can be done in</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question8" id="question81e" name="question8" value="personal conveyance"> a. personal conveyance
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question8" id="question82e" name="question8" value="off duty"> b. off duty
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question8" id="question83e" name="question8" value="On duty"> c. On duty
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question8" id="question84e" name="question8" value="Driving"> d. Driving
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																On duty
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question9"
															class="col-sm-12 control-label col-form-label">9. A Canadian Driver has driven 12 hours in Canada, when he reached Sarina.</label>
														<div class="col-md-12">
														   <div class="col-md-12 float_left">
																<input type="radio" class="question9" id="question91e" name="question9" value="He should cross the border and is eligible to drive 11 hrs when he enters USA"> a. He should cross the border and is eligible to drive 11 hrs when he enters USA
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question9" id="question92e" name="question9" value="He has to take 10 hours off after entering USA"> b. He has to take 10 hours off after entering USA
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question9" id="question92e" name="question9" value="He has to take 10 hours off in Canada before crossing the border"> c. He has to take 10 hours off in Canada before crossing the border
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question9" id="question92e" name="question9" value="None of the above"> d. None of the above
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																He has to take 10 hours off in Canada before crossing the border
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question10"
															class="col-sm-12 control-label col-form-label">10. It is mandatory to certify all the logs.</label>
														<div class="col-md-12">
															<div class="col-md-12 float_left">
																<input type="radio" class="question10" id="question101e" name="question10" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question10" id="question102e" name="question10" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																True
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question11"
															class="col-sm-12 control-label col-form-label">11. Yard move can be used during</label>
														<div class="col-md-9">
															<div class="col-md-12 float_left">
																<input type="radio" class="question11" id="question111e" name="question11" value="Road side inspection"> a. Road side inspection
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question11" id="question112e" name="question11" value="Collision"> b. Collision
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question11" id="question113e" name="question11" value="Loading"> c. Loading
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question11" id="question114e" name="question11" value="Short distance driving"> d. Short distance driving
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																Loading
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question12"
															class="col-sm-12 control-label col-form-label">12. How many hours of rest required after 14 hours of on duty in USA.</label>
														<div class="col-md-9">
															<div class="col-md-12 float_left">
																<input type="radio" class="question12" id="question121e" name="question12" value="8"> a. 8
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question12" id="question122e" name="question12" value="10"> b. 10
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question12" id="question121e" name="question12" value="7"> c. 7
															</div>
															<div class="col-md-12 float_left">
																<input type="radio" class="question12" id="question121e" name="question12" value="12"> d. 12
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																10
															</div>
														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question10"
															class="col-sm-12 control-label col-form-label">13. If the ELD stops working when the driver is on a trip, the driver should</label>
														<div class="col-md-9">
																<div class="col-md-12 float_left">
																	<input type="radio" class="question13" id="question131e" name="question13" value="Use paper log"> a. Use paper log
																</div>
																<div class="col-md-12 float_left">
																	<input type="radio"  class="question13" id="question132e" name="question13" value="stop till the ELD is reactivated"> b. stop till the ELD is reactivated
																</div>
																<div class="col-md-12 float_left">
																	<input type="radio" class="question13" id="question133e" name="question13" value="Must have Printed copy of logs for last 15 days with him"> c. Must have Printed copy of logs for last 15 days with him
																</div>
																<div class="col-md-12 float_left">
																	<input type="radio"  class="question13" id="question134e" name="question13" value="both a & c"> d. both a & c
																</div>
																<div class="col-md-12 float_left">
																	<label>Correct Answer</label><br>
																	both a & c
																</div>

														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question11"
															class="col-sm-12 control-label col-form-label">14. In the United States, how long are you permitted to use paper logs after an ELD malfunction?</label>
														<div class="col-md-12">
															 <div class="col-md-12 float_left">
																<input type="radio" class="question14" id="question141" name="question14" value="for next 7 days"> a. for next 7 days
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question14" id="question142" name="question14" value="Till he completes the trip"> b. Till he completes the trip
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question14" id="question142" name="question14" value="For next 15 days"> c. For next 15 days
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question14" id="question142" name="question14" value="Until his ELD is replaced or corrected"> d. Until his ELD is replaced or corrected
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																False
															</div>

														</div>
													</div>
													<br>
													<div class="form-group row">
														<label for="question12"
															class="col-sm-12 control-label col-form-label">15. If a driver has adopted 14/120 cycle in Canada, he can go to US without resetting his cycle.</label>
														<div class="col-md-12">
															 <div class="col-md-12 float_left">
																<input type="radio" class="question15" id="question151" name="question15" value="True"> a. True
															</div>
															<div class="col-md-12 float_left">
																<input type="radio"  class="question15" id="question152" name="question15" value="False"> b. False
															</div>
															<div class="col-md-12 float_left">
																<label>Correct Answer</label><br>
																False
															</div>
														</div>
													</div>

                                                                </div>

                                                                <div class="col-md-2">


                                                                </div>







                                                            </div>

                                                        </div>
                                                        <div class="border-top">
                                                            <div style="text-align: center;" class="card-body">
                                                                <button type="Submit" id="submitBtn"
                                                                    class="btn btn-primary">Update</button>
                                                            </div>
                                                        </div>
                                                </div>

                                                </form>



                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- edit modal -->










                        <!-- create trailer -->





                        <!-- ============================================================== -->
                        <!-- End Page wrapper  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Wrapper -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <%- include('../includes/footer.ejs') %>
                        <script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
                        <script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
                        <script src="assets/extra-libs/DataTables/datatables.min.js"></script>

                        <script src="assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
                        <script>



                            /****************************************
                             *       Basic Table                   *
                             ****************************************/
                            // $('#zero_config').DataTable();

                            $(document).ready(function () {


                                let date = new Date();
                                var currentdate =
                                    ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
                                    ("00" + date.getDate()).slice(-2) + "/" +
                                    date.getFullYear();

                                $(document).on('click', '#viewmodalid', function () {
                                    // alert('test')
                                    let id = $(this).attr('data-id');
                                    // alert(id)
                                    // console.log($(this).attr("data-id"));
                                    $.ajax({
                                        url: "/editusquestionmanual",
                                        type: "GET",
                                        data: { id: id },
                                        success: function (data) {
                                            console.log(data);
                                            if (data.status) {
                                                let approveStatus;
												
                                                if (data.data.approveStatus == 0) {
													
													$('.l_10').hide();
													$('.no_result').show();
													$('.no_result').html('No Result');
                                                } else {
													$('#vans_percentage').show();
													$('.no_result').hide();
													var rest = (parseFloat(data.data.result)/15)*100;
													$('#vans_percentage').html(rest.toFixed(2)+'%-'+data.data.result+' out of 15');
                                                }
												if(data.data.rightorwrong != ''){
													var right_wrongs = JSON.parse(data.data.rightorwrong);
													if(right_wrongs.length>0){
														for(i =0; i<15;i++){
															j = i +1;
															if(right_wrongs[i] ==1){
																//$( "#vans"+j ).prop( "checked", true );
															}
															else{
																//$( "#vans_"+j ).prop( "checked", true );
															}
														}
													}
												}
												$('#vdriverName').html(data.driverData.driver_name);
												$('#vdriverlicence').html(data.driverData.driver_license);
                                                $("body #updateQuestions_details_view #submitBtn").text('Update');
                                                $('body #updateQuestions_details_view #actionData').val('Update');
												$('.hide_div').hide();
                                                $('.select_answer1').show();
                                                $('#answer_text1').html(data.data.question1);
                                                if(data.data.question1 !='spending 1 hour unloading the trailer'){
                                                    $('.correct_answer1').show();
                                                    $("#answer_text1").addClass("red");
                                                    $("#answer_text1").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text1").removeClass("red");
                                                    $("#answer_text1").addClass("green");
                                                }
												$('.select_answer2').show();
                                                $('#answer_text2').html(data.data.question2);
                                                if(data.data.question2 !='off duty, Sleeper berth'){
                                                    $('.correct_answer2').show();
                                                    $("#answer_text2").addClass("red");
                                                    $("#answer_text2").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text2").removeClass("red");
                                                    $("#answer_text2").addClass("green");
                                                }
												$('.select_answer3').show();
                                                $('#answer_text3').html(data.data.question3);
                                                if(data.data.question3 !='False'){
                                                    $('.correct_answer3').show();
                                                    $("#answer_text3").addClass("red");
                                                    $("#answer_text3").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text3").removeClass("red");
                                                    $("#answer_text3").addClass("green");
                                                }
                                                $('.select_answer4').show();
                                                $('#answer_text4').html(data.data.question4);
                                                if(data.data.question4 !='False'){
                                                    $('.correct_answer4').show();
                                                    $("#answer_text4").addClass("red");
                                                    $("#answer_text4").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text4").removeClass("red");
                                                    $("#answer_text4").addClass("green");
                                                }

                                                $('.select_answer5').show();
                                                $('#answer_text5').html(data.data.question5);
                                                if(data.data.question5 !='True'){
                                                    $('.correct_answer5').show();
                                                    $("#answer_text5").addClass("red");
                                                    $("#answer_text5").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text5").removeClass("red");
                                                    $("#answer_text5").addClass("green");
                                                }
                                                $('.select_answer6').show();
                                                $('#answer_text6').html(data.data.question6);
                                                if(data.data.question6 !='Storm started while duty status is driving and have to reach safe place'){
                                                    $('.correct_answer6').show();
                                                    $("#answer_text6").addClass("red");
                                                    $("#answer_text6").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text6").removeClass("red");
                                                    $("#answer_text6").addClass("green");
                                                }
                                                $('.select_answer7').show();
                                                $('#answer_text7').html(data.data.question7);
                                                if(data.data.question7 !='False'){
                                                    $('.correct_answer7').show();
                                                    $("#answer_text7").addClass("red");
                                                    $("#answer_text7").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text7").removeClass("red");
                                                    $("#answer_text7").addClass("green");
                                                }
                                                $('.select_answer8').show();
                                                $('#answer_text8').html(data.data.question8);
                                                if(data.data.question8 !='On duty'){
                                                    $('.correct_answer8').show();
                                                    $("#answer_text8").addClass("red");
                                                    $("#answer_text8").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text8").removeClass("red");
                                                    $("#answer_text8").addClass("green");
                                                }
                                                $('.select_answer9').show();
                                                $('#answer_text9').html(data.data.question9);
                                                if(data.data.question9 !='He has to take 10 hours off in Canada before crossing the border'){
                                                    $('.correct_answer9').show();
                                                    $("#answer_text9").addClass("red");
                                                    $("#answer_text9").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text9").removeClass("red");
                                                    $("#answer_text9").addClass("green");
                                                }
                                                $('.select_answer10').show();
                                                $('#answer_text10').html(data.data.question10);
                                                if(data.data.question10 !='True'){
                                                    $('.correct_answer10').show();
                                                    $("#answer_text10").addClass("red");
                                                    $("#answer_text10").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text10").removeClass("red");
                                                    $("#answer_text10").addClass("green");
                                                }
                                                $('.select_answer11').show();
                                                $('#answer_text11').html(data.data.question11);
                                                if(data.data.question11 !='Loading'){
                                                    $('.correct_answer11').show();
                                                    $("#answer_text11").addClass("red");
                                                    $("#answer_text11").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text11").removeClass("red");
                                                    $("#answer_text11").addClass("green");
                                                }
                                                $('.select_answer12').show();
                                                $('#answer_text12').html(data.data.question12);
                                                if(data.data.question12 !='10'){
                                                    $('.correct_answer12').show();
                                                    $("#answer_text12").addClass("red");
                                                    $("#answer_text12").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text12").removeClass("red");
                                                    $("#answer_text12").addClass("green");
                                                }

                                                $('.select_answer13').show();
                                                $('#answer_text13').html(data.data.question13);
                                                if(data.data.question13 !='both a & c'){
                                                    $('.correct_answer13').show();
                                                    $("#answer_text13").addClass("red");
                                                    $("#answer_text13").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text13").removeClass("red");
                                                    $("#answer_text13").addClass("green");
                                                }
                                                $('.select_answer14').show();
                                                $('#answer_text14').html(data.data.question14);
                                                if(data.data.question14 !='Till the trip has been completed'){
                                                    $('.correct_answer14').show();
                                                    $("#answer_text14").addClass("red");
                                                    $("#answer_text14").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text14").removeClass("red");
                                                    $("#answer_text14").addClass("green");
                                                }
                                                $('.select_answer15').show();
                                                $('#answer_text15').html(data.data.question15);
                                                if(data.data.question15 !='False'){
                                                    $('.correct_answer15').show();
                                                    $("#answer_text15").addClass("red");
                                                    $("#answer_text15").removeClass("green");
                                                }
                                                else{
                                                    $("#answer_text15").removeClass("red");
                                                    $("#answer_text15").addClass("green");
                                                }

                                                $('body #viewmodal').modal('show');

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                 window.location = "/";
                                            }

                                        }
                                    });
                                });

                                $(document).on('click', '#editmodalid', function () {
                                    // alert('test')
                                    let id = $(this).attr('data-id');
                                    // alert(id)
                                    // console.log($(this).attr("data-id"));
                                    $.ajax({
                                        url: "/editusquestionmanual",
                                        type: "GET",
                                        data: { id: id },
                                        success: function (data) {
                                            console.log(data);
                                            if (data.status) {
                                                let approveStatus;
                                                if (data.data.approveStatus == 0) {
													$('#ans_right').hide();
													$('#ans_wrong').hide();
													$('.l_10').hide();
													$('.no_result').show();
													$('.no_result').html('No Result');
                                                    $('#approve_button').show()
                                                    approveStatus = 'Waiting For admin approval'
                                                } else {
													$('#ans_right').show();
													$('#ans_wrong').show();
													$('#ans_percentage').show();
													$('.no_result').hide();
													$('#ans_right').html(data.data.result);
													$('#ans_wrong').html(15-data.data.result);
													var rest = (parseFloat(data.data.result)/15)*100;
													$('#ans_percentage').html(rest.toFixed(2)+'%');
                                                    $('#approve_button').hide()
                                                    approveStatus = 'Approved'
                                                }
                                                $("body #updateQuestions_details #commentsSection").html('<input required type="text" class="form-control" placeholder="Please enter comments this will help admin to approve this request" name="comment" value="" id="comments">');
                                                $("body #updateQuestions_details #driverId").val(data.data.driverId);
                                                $("body #updateQuestions_details #company_id").val(data.data.company_id);
                                                $("body #updateQuestions_details #approveStatus").text(approveStatus);
                                                $("body #updateQuestions_details #driverName").text(data.driverData.driver_name);


                                                $("body #updateQuestions_details #submitBtn").text('Update');
                                                $('body #updateQuestions_details #actionData').val('Update');
												if(data.data.rightorwrong != ''){
													var right_wrongs = JSON.parse(data.data.rightorwrong);
													if(right_wrongs.length>0){
														for(i =0; i<15;i++){
															j = i +1;
															if(right_wrongs[i] ==1){
																//$( "#ans"+j ).prop( "checked", true );
															}
															else{
																//$( "#ans_"+j ).prop( "checked", true );
															}
														}
													}
												}
												$('#ans_right').html(data.data.result);
                                                $('#ans_wrong').html(15-data.data.result);

                                               $("input[name=question1][value='" + data.data.question1 + "']").attr('checked', 'checked');
												$("input[name=question2][value='" + data.data.question2 + "']").attr('checked', 'checked');
												$("input[name=question3][value='" + data.data.question3 + "']").attr('checked', 'checked');
												$("input[name=question4][value='" + data.data.question4 + "']").attr('checked', 'checked');
												$("input[name=question5][value='" + data.data.question5 + "']").attr('checked', 'checked');
												$("input[name=question6][value='" + data.data.question6 + "']").attr('checked', 'checked');
												$("input[name=question7][value='" + data.data.question7 + "']").attr('checked', 'checked');
												$("input[name=question8][value='" + data.data.question8 + "']").attr('checked', 'checked');
												$("input[name=question9][value='" + data.data.question9 + "']").attr('checked', 'checked');
												$("input[name=question10][value='" + data.data.question10 + "']").attr('checked', 'checked');
												$("input[name=question11][value='" + data.data.question11 + "']").attr('checked', 'checked');
												$("input[name=question12][value='" + data.data.question12 + "']").attr('checked', 'checked');
												$("input[name=question13][value='" + data.data.question13 + "']").attr('checked', 'checked');
												$("input[name=question14][value='" + data.data.question14 + "']").attr('checked', 'checked');
												$("input[name=question15][value='" + data.data.question15 + "']").attr('checked', 'checked');

                                                $('body #editmodal').modal('show');
												

                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Something went wrong',
                                                    icon: 'error',
                                                    confirmButtonText: 'Cool'
                                                })
                                                // $("body #updateQuestions_details #submitBtn").text('Create');
                                                // $('body #updateQuestions_details #actionData').val('Create');
                                                // $("body #updateQuestions_details #fastCardAttachment_file_link").hide();
                                                 window.location = "/";
                                            }

                                        }
                                    });
                                });




                                $('#exptype').on('change', function () {
                                // let cmpid = $('body #company_id').val();
                                let cmpid = this.value;
                                // alert(cmpid) 
                                $('body #create_trailer #company_id').val(cmpid);
                                $("#create_trailer_button").show()

                                $("#updateQuestionsDetails").dataTable().fnDestroy();

                                let customer = $('#updateQuestionsDetails').DataTable({
                                    processing: true,
                                    serverSide: true,
                                    order: [[0, 'ASC']],
                                    lengthMenu: [[10, 50, 100, 250, 500, 1000], [10, 50, 100, 250, 500, 1000]],
                                    pageLength: 10,
                                    searching: true,
                                    ajax: {
                                        url: "/company_get_usquestionmanual",
                                        data: function (data) {
                                            data.cmpid = cmpid
                                            // data.search_key = $("#searchKey").val(),
                                            // data.search_val = $("#searchVal").val()
                                        },
                                        type: "GET",
                                    },
                                    columns: [
                                        { "data": "slno" },
                                        { "data": "driver_name" },
                                        { "data": "result" },
                                        { "data": "action" }
                                    ],
                                    select: true
                                });


                                });
                            });



                            $(document).on('click', '#deletedriverDtls', function () {
                                let id = $(this).attr('data-id');

                                // alert(id)
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {


                                        $.ajax({
                                            url: "/companydeleteusquestionmanual",
                                            type: "POST",
                                            data: { id: id },
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    }); setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });




                            $(document).on('click', '#approve_button', function () {

                                let id = $('body #updateQuestions_details #driverId').val();

                                // alert(id)
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to approve this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, approve it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {


                                        $.ajax({
                                            url: "/companyapproveusquestion",
                                            type: "POST",
                                            data: { id: id },
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    });
                                                    setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });

                            $("#updateQuestions").submit(function (event) {
                                event.preventDefault();

                                var values = {};
                                $.each($('#updateQuestions').serializeArray(), function (i, field) {
                                    values[field.name] = field.value;
                                    // console.log(values[field.name]);
                                });
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You want to update this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, update it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#submitBtn").text('Please wait');
                                        $("#submitBtn").attr('disabled', true);
										var form = $(this);
                                        $.ajax({
                                            url: "/updateusquestionmanual",
                                            type: "POST",
                                            data: form.serialize(),
                                            success: function (data) {
                                                if (data.status) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 2000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    })
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: data.message
                                                    });
                                                    setTimeout(function () {
                                                        window.location.reload();
                                                    }, 2000);
                                                } else {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Something went wrong',
                                                        icon: 'error',
                                                        confirmButtonText: 'Cool'
                                                    })
                                                }

                                            }
                                        });


                                    }
                                })
                            });





                        </script>
                        <script src="sweetAlert/sweetalert2.min.js"></script>
</body>

</html>